@import url("https://fonts.googleapis.com/css2?family=Anton&family=Montserrat&display=swap");
* {
  font-family: "Montserrat", sans-serif;
  font-size: 30px;
  margin-right: 0;
  margin-left: 0;
}
.container {
  width: 80%;
  margin: 0 auto;
}
.navbar {
  display: flex;
  justify-content: space-between;
  height: 10vh;
}
.navbar_right {
  display: flex;
}

.navbar__add-btn {
  display: flex;
  align-items: center;
  margin-right: 10px;
  margin-left: 10px;
}
.cart {
  display: flex;
  margin-left: 75px;
  cursor: pointer;
}
.logo {
  font-weight: bold;
}
.log-in-out-container {
  cursor: pointer;
  margin-left: 25px;
  display: flex;
  align-items: center;
  background-color: black;
  margin-top: 3px;
  margin-bottom: 3px;
  color: white;
  border-radius: 100px;
  transition: 300ms;
}

.log-in-out-container:hover {
  background-color: #23217d;
  color: white;
}

.log-in-out {
  font-size: 20px;
  margin: auto 20px;
}
a {
  text-decoration: none;
  color: black;
}
.sign_btn {
  background-color: black;
  color: white;
  border-radius: 30px;
  border-style: none;
  margin-top: 20px;
  margin-left: 20px;
  width: 160px;
  height: 50px;
}
.log_btn {
  background-color: black;
  color: white;
  border-radius: 30px;
  border-style: none;
  margin-top: 20px;
  margin-left: 10px;
  width: 160px;
  height: 50px;
}
